.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts
.DS_Store
node_modules/**
.env
*.vsix
.turbo/**
tsconfig.json
pnpm-lock.yaml
package-lock.json
yarn.lock
*.log
